@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row g-4">
    <div class="col-12">
        <h4 class="mb-3">Welcome to the Admin Dashboard</h4>
        <p class="text-muted">This is the premium admin shell placeholder. Feature modules will be added here.</p>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5 class="card-title">Users</h5>
                <p class="card-text display-6">--</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h5 class="card-title">Roles</h5>
                <p class="card-text display-6">--</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-info">
            <div class="card-body">
                <h5 class="card-title">Sessions</h5>
                <p class="card-text display-6">--</p>
            </div>
        </div>
    </div>
</div>
